.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.pageContent {
  width: 100%;
  margin: 8px;
  max-width: 425px;
}
@media screen and (min-width: 501px) {
  .pageContent {
    margin: 50px;
  }
}


